{% extends 'layout.template.html' %}

{% block content %}
<a href="{{url_for('create_animal')}}" class="btn btn-primary">Crearw New </a>
<h1>All Animals</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="row">Name</th>
            <th scope="row">Type</th>
            <th scope="row">Breed</th>
            <th></th>
        </tr>
    </thead>
	<tbody>
    {% for a in all_animals %}
		<tr>
			<td>{{a.name}}</td>
            <td>{{a.type.name}}</td>
            <td>{{a.breed}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ url_for('update_animal', id=a._id) }}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('delete_animal', animal_id=a._id) }}">Delete</a>
            </td>
		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}