{% extends 'layout.template.html' %}

{% block content %}
<h2>Update Animal</h2>
<form method="POST">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="animal-name" value="{{animal.name}}"/>
    </div>

     <div class="form-group">
        <label>Type:</label>
        <select class="form-control" name="animal-type">
            {% for t in all_animal_types %}
                {% if t._id == animal.type._id %}
                <option value="{{t._id}}" selected>{{t.type_name}}</option>
                {% else %}
                <option value="{{t._id}}">{{t.type_name}}</option>
                {% endif %}
            {% endfor%}
        </select>
    </div>

    <div class="form-group">
        <label>Breed:</label>
        <input type="text" class="form-control" name="breed" value="{{animal.breed}}"/>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>
{% endblock%}