{% extends 'layout.template.html' %}

{% block title %}To Do List{% endblock %}

{% block content %}
<h2>Tasks</h2>
<a href="{{url_for('create_task')}}" class="btn btn-primary">Crearw New </a>
<ul class="list-group mt-3">
{% for t in tasks %}
    <li class="list-group-item">
        {% if t.done %}
        <input type="checkbox" class="task-checkbox" data-task-id="{{t._id}}" checked/>
        {% else %}
        <input type="checkbox" class="task-checkbox" data-task-id="{{t._id}}"/>
        {% endif %}
        {{t.task_name}}
    </li>
{% endfor%}
</ul>
{% endblock %}

{%block js%}
<script>
$(function(){
    $(".task-checkbox").change(function(){
        console.log("Checkbox clicked");
        let task_id = $(this).data('task-id');
        console.log(task_id);

        //  F12 눌러서 'network'가면 succesfully됐는지 확인 가능. checkbox눌렀을 때 ajax 성공적으로 됐으면 그린라이트 뜬다
        // 그리고 항상 mongo Atlas 가서 refresh 눌러보면서 데이터 잘 업뎃되었나 꼭 확인
        $.ajax({
            'url': "{{url_for('check_task')}}",
            'dataType': 'json',
            'contentType': 'application/json',
            'data': JSON.stringify({
                'task_id': task_id
            }),
            'type': 'PATCH'
        }).then(()=>{  // arrow('=>')를 써야지 요 'this'를 사용가능
            console.log(this.checked);
            if (this.checked){
                toastr.success("Item has been marked 'Done'!");
            } else {
                toastr.warning("Item has been marked 'Not Done'!");
            }
            
        })

        // alternative syntax using axios (much simpler)
        // let url = "{{url_for('check_task')}}";
        // axios.patch(url, {
        //   'task_id': task_id
        // })

    })
})
</script>
{%endblock%}